.item1 { grid-area: header; }

.item1-1 { grid-area: company1; }
.item1-2 { grid-area: company2; }
.item1-3 { grid-area: company3; }
.item1-4 { grid-area: company4; }

.skill1 { grid-area: skill1; }
.skill2 { grid-area: skill2; }
.skill3 { grid-area: skill3; }
.skill4 { grid-area: skill4; }

.grid-container1 {
  display: grid;
  grid-template-areas:
    'header';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}
.grid-container2 {
  display: grid;
  grid-template-areas:
    'company1 company2 company3 company4';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'skill1 skill2 skill3 skill4';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}


.grid-container > div,.grid-container1 > div,.grid-container2 > div {
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border: solid 1px;
}
footer {
  color:red;
  text-align: center
}
